[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
pycountry = "*"
langcodes = "*"
black = "*"
django = "*"
python-decouple = "*"
django-bootstrap-v5 = "*"
django-countries = "*"
isort = "*"
mypy = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
