asgiref==3.7.2
beautifulsoup4==4.12.2
black==23.7.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
Django==4.2.4
django-bootstrap-v5==1.0.11
django-countries==7.5.1
idna==3.4
isort==5.12.0
langcodes==3.3.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pycountry==22.3.5
python-decouple==3.8
python-dotenv==1.0.0
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.0.4
