html,
body {
    height: 100%;
}

h2 {

    text-align: center;
    
}

hr.a  {
    border-top: 3px double black;
    width: 210px;
  }

#sidebar {

    background: linear-gradient(#9b1414, rgb(172, 124, 124));
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px #050505;
    text-shadow: 0px 1px 1px #121212;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: 17px

}

.form-control.person {
    width: 225px;
}

.form-select.country {
    width: 150px;
}

.form-select.year {
    width: 200px;
}

fieldset.group  { 
    margin: 0; 
    padding: 0; 
    margin-bottom: 1.25em; 
    padding: .125em; 
  } 
  
fieldset.group legend { 
    margin: 0; 
    padding: 0; 
    font-weight: bold; 
    margin-left: 20px; 
    font-size: 22px; 
    color: black; 
} 
  
  
ul.checkbox  { 
    margin: 0; 
    padding: 0; 
    margin-left: 50px; 
    list-style: none; 
    
} 

ul.checkbox li input { 
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 20px;
    margin-left: -20px;
    margin-right: 10px;
} 

ul.checkbox li { 
    border: 1px transparent solid; 
} 

#sortBy {
    width: 200px;
    overflow: auto;
}

#providers {
    width: 200px;
    overflow: auto;
}
  
#directorName {
    width: 205px;

}

#movieWrapper {
    color: #FFFFFF;
    background-color: #070707;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#detailBc {
    background-color: #c4e4e8;
}

#mediaInfo {
    color: #000000;
    margin-left:550px;
    margin-top: -300px;
    min-height: 290px;
}

.col.mediaOverview {
    color:black;
    margin-left: 30px;
    margin-right: 260px;
    font-size: medium

}

#trailer {
    color:black;
    margin-left: 30px;
    font-weight: bold;

}


#trailerScroll {
    margin-left:30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

}

#trailerResults {
    margin-bottom: 20px;
    margin-right: 120px
}

#detailHome {
    color:black;
}

.form-select.mr-sm-2 {
    padding-left: 5px;
    background-color: #131213;
    color: #d6d6d6;
    border-radius: 5px;
    width: 250px;
    height: 45px;

}

#searchForm {
    width: 275px;
}

#movieCard {
    width: 18rem;
}

#movieRow {
    margin-right: 20px; margin-left: 20px;
}


.logo {
    float:left;  
    width: 100px;
    height: 80px; 
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

#userChoiceActionButton {
    background-color: #9b1414 ;
    color: #ffffff;
    border-color: #e7e7e7;
}

#discoverButton {
    background-color: black;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}











