html,
body {
    height: 100%;
}

h2 {

    text-align: center;
    
}

hr.a  {
    border-top: 3px double black;
    width: 210px;
  }

#sidebar {

    background: linear-gradient(rgb(55, 155, 55), rgb(178, 178, 184));
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;

}

fieldset.group  { 
    margin: 0; 
    padding: 0; 
    margin-bottom: 1.25em; 
    padding: .125em; 
  } 
  
fieldset.group legend { 
    margin: 0; 
    padding: 0; 
    font-weight: bold; 
    margin-left: 20px; 
    font-size: 100%; 
    color: black; 
} 
  
  
ul.checkbox  { 
    margin: 0; 
    padding: 0; 
    margin-left: 20px; 
    list-style: none; 
    /*column-count: 3;*/
} 

ul.checkbox li input { 
    margin-right: .25em; 
} 

ul.checkbox li { 
    border: 1px transparent solid; 
} 
  
#directorName {
    width: 205px;

}

#movieWrapper {
    color: #FFFFFF;
    background-color: #070707;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#detailBc {
    background-color: #c4e4e8;
}

#mediaInfo {
    color: #000000;
    margin-left:550px;
    margin-top: -300px;
    min-height: 290px;
}

.col.mediaOverview {
    color:black;
    margin-left: 30px;
    margin-right: 260px;
    font-size: medium

}

#trailer {
    color:black;
    margin-left: 30px;
    font-weight: bold;

}


#trailerScroll {
    margin-left:30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

}

#trailerResults {
    margin-bottom: 20px;
    margin-right: 120px
}

#detailHome {
    color:black;
}

.form-select.mr-sm-2 {
    padding-left: 5px;
    background-color: #131213;
    color: #d6d6d6;
    border-radius: 5px;
    width: 175px;
    height: 45px;

}

#searchForm {
    width: 275px;
}

#movieCard {
    width: 18rem;
}

#movieRow {
    margin-right: 20px; margin-left: 20px;
}







