{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  {% bootstrap_messages %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid"></div>
      <a class="navbar-brand" href="{% url 'home' %}">Media Search</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Browse Movies
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'movies_now_playing' %}">Now Playing</a></li>
              <li><a class="dropdown-item" href="{% url 'movies_trending_week' %}">Trending of the Week</a></li>
              <li><a class="dropdown-item" href="{% url 'movies_upcoming' %}">Upcoming</a></li>
              <li><a class="dropdown-item" href="{% url 'movies_popular' %}">Popular</a></li>
              <li><a class="dropdown-item" href="{% url 'movies_top_rated' %}">Top Rated</a></li>
            </ul>
          </li>
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Browse TV Shows
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Trending of the Week</a></li>
              <li><a class="dropdown-item" href="#">Popular</a></li>
              <li><a class="dropdown-item" href="#">Top Rated</a></li>
              <li><a class="dropdown-item" href="#">On Air</a></li>
              <li><a class="dropdown-item" href="#">On Air Today</a></li>
            </ul> 
          </li>
      
          <form action="{% url 'media_similar' %}" method="get" class="d-flex">
            <select class="form-select mr-sm-2" name="type" class="mb-3">
              <option value="">--Select Media--</option>
              <option value="movie">Movies</option>
              <option value="tv">TV Shows</option>
            </select>

            <select class="form-select mr-sm-2" name="choice" class="mb-3">
              <option value="">--Select Criteria--</option>
              <option value="similar">Similar</option>
              <option value="recommendations">Recommendation</option>
            </select>

            <input class="form-control me-2" name="query" type="text" placeholder="Enter title to find out what to watch next!!" aria-label="Search" id="searchForm">
            <button class="btn btn-outline-success" type="submit">Search</button>
        
          </form>
          
        </ul>
      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}

</body>
</html>
