{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
  {% bootstrap_messages %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid"></div>
      <a class="navbar-brand" href="{% url 'home' %}">Media Search</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Browse Movies
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'movies_now_playing' %}">Now Playing</a></li>
              <li><a class="dropdown-item" href="{% url 'movies_trending_week' %}">Trending of the Week</a></li>
              <li><a class="dropdown-item" href="{% url 'movies_upcoming' %}">Upcoming</a></li>
              <li><a class="dropdown-item" href="{% url 'movies_popular' %}">Popular</a></li>
              <li><a class="dropdown-item" href="{% url 'movies_top_rated' %}">Top Rated</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Browse TV Shows
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'tv_trending_week' %}">Trending of the Week</a></li>
              <li><a class="dropdown-item" href="{% url 'tv_popular' %}">Popular</a></li>
              <li><a class="dropdown-item" href="{% url 'tv_top_rated' %}">Top Rated</a></li>
              <li><a class="dropdown-item" href="{% url 'tv_air' %}">On Air</a></li>
              <li><a class="dropdown-item" href="{% url 'tv_air_today' %}">On Air Today</a></li>
            </ul>
          </li>

          <form action="{% url 'media_search' %}" method="get" class="d-flex">
            <select class="form-select mr-sm-2" name="type" class="mb-3">
              <option value="">--Select Media--</option>
              <option value="movie">Movies</option>
              <option value="tv">TV Shows</option>
            </select>


            <select class="form-select mr-sm-2" name="choice" id="selectionChoice" class="mb-3">
              <option value="">--Select Criteria--</option>
              <option value="similar">Similar</option>
              <option value="recommendations">Recommendation</option>
            </select>

            <input class="form-control me-2" name="query" type="text" aria-label="Search" id="searchForm">
            <script src="{% static 'js/app.js' %}"></script>
            <button class="btn btn-outline-success" id="userChoiceActionButton"  type="submit">Search</button>

          </form>

        </ul>
      </div>
    </div>
  </nav>

  <!-- This container contains the sidebar -->
  <div class="container-fluid h-100">

    <div class="row" id="rowMain">

      <div class="col-2" id="sidebar">
        <h4>Discover Media</h4>
        <!-- Navigation links in sidebar-->
        <form action="{% url 'discover' %}" method="get" class="d-flex">
          <fieldset class="group"> 
            
            <legend>Genre</legend> 
            <ul class="checkbox"> 
              <li><input name="genre" type="checkbox" id="cb1" value="Drama" /><label for="cb1">Drama</label></li> 
              <li><input name="genre" type="checkbox" id="cb2" value="Comedy" /><label for="cb2">Comedy</label></li> 
              <li><input name="genre" type="checkbox" id="cb3" value="Horror" /><label for="cb3">Horror</label></li>  
              <li><input name="genre" type="checkbox" id="cb3" value="Crime" /><label for="cb4">Crime</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Family" /><label for="cb5">Family</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Mystery" /><label for="cb6">Mystery</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Action" /><label for="cb7">Action</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Adventure" /><label for="cb8">Adventure</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Thriller" /><label for="cb9">Thriller</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="War" /><label for="cb10">War</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Western" /><label for="cb11">Western</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="TV Movie" /><label for="cb12">TV Movie</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Romance" /><label for="cb13">Romance</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Science Fiction" /><label for="cb14">Science Fiction</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Music" /><label for="cb15">Music</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="History" /><label for="cb16">History</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Mystery" /><label for="c17">Fantasy</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Mystery" /><label for="cb18">Documentary</label></li>
              <li><input name="genre" type="checkbox" id="cb3" value="Mystery" /><label for="cb19">Animation</label></li>
              <script src="{% static 'js/checkbox.js' %}"></script>
            </ul>
            <hr class="a">
            
            <legend>Provider</legend> 
            <ul class="checkbox"> 
              <li><input name="provider" type="checkbox" id="cb1" value="Netflix" /><label for="cb1">Netflix</label></li> 
              <li><input name="provider" type="checkbox" id="cb2" value="Prime" /><label for="cb2">Amazon</label></li> 
              <li><input name="provider" type="checkbox" id="cb3" value="Hulu" /><label for="cb3">Hulu</label></li>  
            </ul> 
            <hr class="a">
            
            <legend>Region</legend>
              <p>
                {% load countries %}
                {% get_countries as countries %}
                <select class="form-select" id="countryList" >
                {% for country in countries %}
                    <option value="{{ country.code }}">{{ country.name }}</option>
                {% endfor %}
                </select>
              <p>
            <hr class="a">
            
            <legend>Release Year</legend>
              <input type="text" class="form-control" id="year" placeholder="Enter year">
            <hr class="a">

            <legend>Director</legend>
            <input type="text" class="form-control" id="directorName" placeholder="Enter First and Last Name">

            <hr class="a">
            
            <legend>Sort</legend>
            <!-- The default is popularity descending -->
            <select class="form-select" multiple="multiple" size="15" name="sort" id="sortBy" >
              <option selected>--Sort By--</option>
              <option value="Popularity Descending">Popularity Descending</option>
              <option value="Popularity Ascending">Popularity Ascending</option>
              <option value="Release Date Ascending">Release Date Ascending</option>
              <option value="Release Date Descending">Release Date Descending</option>
              <option value="Primary Release Date Ascending">Primary Release Date Ascending</option>
              <option value="Primary Release Date Descending">Primary Release Date Descending</option>
              <option value="Original Title Ascending">Original Title Ascending</option>
              <option value="Original Title Descending">Original Title Descending</option>
              <option value="Vote Average Ascending">Vote Average Ascending</option>
              <option value="Vote Average Desending">Vote Average Descending</option>
              <option value="Vote Count Ascending">Vote Count Ascending</option>
              <option value="Vote Count Descending">Vote Count Descending</option>
            </select>

          </fieldset>  
          
            <div>
            <button class="btn btn-dark" type="submit">Discover</button>
          </div>
        </form>
        
      </div>

      <div class="col-10" id="movieWrapper" style="float: right;">
        {% block body %} {% endblock %}
      </div>

    </div><!-- end row -->
  </div><!-- container-fluid -->

</body>
</html>