{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

<style>
    .bg{
        width: 100%;
        height: 300px;
        background-image: url("{% static 'img/movies-unsplash.jpg' %}");
    }
</style>

{% block body %}

<div class="container-fluid text-center" id="movieWrapper">  
    <h2>Trending of the Day</h2><br><br>
    
    <div class="row ten-columns" id="movieRow">
        {% for media in trending.results %}
            <div class="card" id="movieCard">
                {% if media.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w500{{ media.poster_path }}" class="card-img-top" alt="...">
                {% else %}
                    <img src="{% static 'img/no_img.png' %}" alt="...">
                {% endif %}
                <a href="/{{ media.media_type }}/{{ media.id }}/" class="btn btn-dark">View Details</a>
            </div>
        {% endfor %}
    </div>
</div> 

    <!--
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for media in trending.results %}
                <div class="item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}">
                    <img src="https://image.tmdb.org/t/p/w500{{ media.poster_path }}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
        </div>
    </div>
    --> 
{% endblock %}
