{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="item">
<img src="{% static 'img/movies-unsplash.jpg' %}" class="img-fluid" alt="Home Image">
</div>

<div class="container-fluid text-center" id="movieWrapper">
    <h2>Trending of the Day</h2><br><br>

    <div class="row" style="margin-right: 20px; margin-left: 20px;">
        {% for media in trending.results %}
        <div class="col-sm-2"></div>
            <div class="card" style="width: 18rem;">
                <img src="https://image.tmdb.org/t/p/w500{{ media.poster_path }}" class="card-img-top" alt="...">
                <a href="/{{ media.media_type }}/{{ media.id }}" class="btn btn-primary">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
