{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block body %} 

	<div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Select Movie Search Filter
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="/movies_popular">Popularity</a></li>
		<li><a class="dropdown-item" href="/movies_top_rated">Top Rated</a></li>
	  </ul>
	</div>

 {% endblock body %} 