{% extends "base.html" %}
{% load static %}

{% block title %}Media Search{% endblock %}

{% block body %}

<div class="container-fluid text-center" id="movieWrapper">

    <h2>Results: {{choice|title}} </h2><br><br>

    <div class="row" id="movieRow">
        {% for media in data.results %}
            <div class="card" id="movieCard">
                {% if media.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w500{{ media.poster_path }}" class="card-img-top" alt="...">
                {% else %}
                    <img src="{% static 'img/no_img.png' %}" alt="...">
                {% endif %}
                <a href="{% url url_path obj_id=media.id  %}" class="btn btn-dark">View Details</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
