{% extends "base.html" %}
{% load static %}

{% block title %}Movie Details{% endblock %}

{% block body %}

<div class="container first" id="mediaBgColor">

    <img src="https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}" alt="..." id="movieBackdrop">

    <div class="col mov-info" id="mediaInfo" >
        <h2> {{ movie.title }}</h2>
        <h5><b>Genre:</b></h5>
        {% for genre in movie.genres.all %}
            <h8>{{genre.name}} |</h8>
        {% endfor %}
        <h4><b>{{ movie.tagline }}</b></h4>
        <h4>Total Votes: <b>{{movie.vote_count}}</b> | Vote Score: <b>{{ movie.vote_average }}</b> | Popularity: <b>{{movie.popularity}}</b></h4>
        <h4>Release Date: <b>{{ movie.release_date }}</b></h4>
        <h4>Duration: <b>{{ movie.runtime }} minutes</b></h4>
        <h4>Production Companies:</h4>
        {% for company in movie.production_companies %}
            <h8>{{company.name}} |</h8>
        {% endfor %}
    </div>

    <!-- Use d-flex to create a flex container for the overview and button -->
    <div class="d-flex justify-content-start align-items-start">
        <div class="col mediaOverview">
            <!-- Overview text -->
            <h3>Overview</h3>
            <p>{{movie.overview}}</p>
        </div>

        <div>
            <!-- Add to Favorites form with a bit of margin on the left to move it to the right -->
            <form action="{% url 'add_movie_to_watch_list' movie.id %}" method="post" class="watchlist-form">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Add to Watchlist</button>
            </form>
        </div>
    </div>

    <div class="col mediaOverview">
        <h3>Budget and Revenue</h3>
        <p><b>Budget:</b> {{movie.budget}}$</p>
        <p><b>Revenue:</b> {{movie.revenue}}$</p>
        <h3>Official Homepage</h3>
        {% if movie.homepage %}
            <a href={{movie.homepage}} id="detailHome">{{movie.homepage}}</a>
        {% else %}
            <p>No homepage available.</p>
        {% endif %}
    </div>

    <div class="trailer" id="trailer"><h2>Trailer and Short Videos</h2></div>

    <div class="scrolling-wrapper" id="trailerScroll">
        {% for vid in videos %}
            <div class="embed-responsive embed-responsive-16by9" id="trailerResults">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ vid.key }}"></iframe>
            </div>
        {% endfor %}
    </div>

    <div class="rcm" style="color:black; margin-left: 30px; font-weight: bold;"><h2>Recommended Movies</h2></div>
        <div class="row" id="movieRow">
            {% for movie in movie.recommendation.all %}
                <div class="card" id="movieCard">
                    {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="{% static 'img/no_img.png' %}"  alt="...">
                    {% endif %}
                    <a href="{% url 'movie' tmdb_id=movie.id  %}" class="btn btn-dark">View Details</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

