{% extends "base.html" %}
{% load static %}

{% block title %}Top Rated Movies{% endblock %}

{% block body %}

<div class="container-fluid text-center" id="movieWrapper">
    <h2>Top Rated Movies</h2><br><br>

    <div class="row" style="margin-right: 20px; margin-left: 20px;">
        {% for movie in top_rated.results %}
            <div class="card" style="width: 18rem;">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="...">
                <a href="{% url 'movie_detail' movie_id=movie.id  %}" class="btn btn-primary">View Details</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
