{% load static %}
<div class="col-2 sidebar">
  <h3>Discover Media</h4><br>
  <!-- Navigation links in sidebar-->
  <form action="{% url 'movie_discover' %}" method="get" class="d-flex">
    <fieldset class="group">

      <legend id="sidebarLegend">Genres</legend>
      {% load media_tags %}
      {% get_movie_genres as movie_genre_names %}
      {% get_tv_genres as tv_genre_names %}
      <ul class="checkbox">
        {% for movie_genre in movie_genre_names %}
        <li><input name="genre" type="checkbox" id="cb" value="{{movie_genre}}" /><label for="cb">{{movie_genre}}</label></li>
        {% endfor %}
        {% for tv_genre in tv_genre_names %}
        <li><input name="genre" type="checkbox" id="cb" value="{{tv_genre}}" /><label for="cb">{{tv_genre}}</label></li>
        {% endfor %}
        <script src="{% static 'js/checkbox.js' %}"></script>
      </ul>
      <hr class="a">

      <legend id="sidebarLegend">Provider</legend>
      {% load media_tags %}
      {% get_movie_providers as movie_provider_names %}
      <select class="form-select" multiple="multiple" size="7" name="providers" id="providers">
        {% for movie_provider in movie_provider_names %}
        <option value="{{movie_provider}}">{{movie_provider}}</option>
        {% endfor %}
      </select>
      <hr class="a">

      <legend id="sidebarLegend">Region</legend>
        {% load countries %}
        {% get_countries as countries %}
        <select class="form-select country" name="region" >
          <option disabled="disabled" selected="selected">Select Option</option>
          {% for country in countries %}
              <option value="{{ country.code }}">{{ country.name }}</option>
          {% endfor %}
        </select>
      <hr class="a">

      <legend id="sidebarLegend">Watch Region</legend>
      {% load countries %}
      {% get_countries as countries %}
      <select class="form-select country" name="watch_region" >
        <option disabled="disabled" selected="selected">Select Option</option>
        {% for country in countries %}
            <option value="{{ country.code }}">{{ country.name }}</option>
        {% endfor %}
      </select>
    <hr class="a">

      <legend id="sidebarLegend">Release Year</legend>
      {% load years %}
      <select class="form-select year" name="year" id="year" >
        <option disabled="disabled" selected="selected">Select Option</option>
        {% for year in 1940|year_range_desc %}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
    <hr class="a">

      <legend id="sidebarLegend">Person</legend>
      <input name="personName" type="text" class="form-control person" id="personName" placeholder="Enter First and Last Name">

      <hr class="a">

      <legend id="sidebarLegend">Sort By</legend>
      <!-- The default is popularity descending -->
      <select class="form-select" multiple="multiple" size="10" name="sort" id="sortBy" >
        <option value="Popularity Descending">Popularity Descending</option>
        <option value="Popularity Ascending">Popularity Ascending</option>
        <option value="Release Date Ascending">Release Date Ascending</option>
        <option value="Release Date Descending">Release Date Descending</option>
        <option value="Primary Release Date Ascending">Primary Release Date Ascending</option>
        <option value="Primary Release Date Descending">Primary Release Date Descending</option>
        <option value="Original Title Ascending">Original Title Ascending</option>
        <option value="Original Title Descending">Original Title Descending</option>
        <option value="Vote Average Ascending">Vote Average Ascending</option>
        <option value="Vote Average Desending">Vote Average Descending</option>
        <option value="Vote Count Ascending">Vote Count Ascending</option>
        <option value="Vote Count Descending">Vote Count Descending</option>
      </select>

    </fieldset>

      <div>
      <button class="btn btn-dark" id="discoverButton" type="submit">Discover</button>
    </div>
  </form>
</div>