{% extends "base.html" %}
{% load static %}

{% block title %}Trending TV Shows of Week{% endblock %}

{% block body %}

<div class="container-fluid text-center" id="movieWrapper">
    <h2>Trending TV Shows of the Week</h2><br><br>

    <div class="row" id="movieRow">
        {% for tv in trending.results %}
            <div class="card" id="movieCard">
                <img src="https://image.tmdb.org/t/p/w500{{ tv.poster_path }}" class="card-img-top" alt="...">
                <a href="{% url 'tv_detail' tv_id=tv.id  %}" class="btn btn-dark">View Details</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}